<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guang.resms.module.user.mapper.UserRoleMapper">
    
    <select id="selectRoleIdsByUserId" resultType="java.lang.Integer">
        SELECT role_id
        FROM tb_user_role
        WHERE user_id = #{userId}
        ORDER BY id ASC
    </select>

    <select id="selectPrimaryRoleIdByUserId" resultType="java.lang.Integer">
        SELECT role_id
        FROM tb_user_role
        WHERE user_id = #{userId}
        ORDER BY id ASC
        LIMIT 1
    </select>
    
</mapper>
