<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guang.resms.module.team.mapper.TeamMemberMapper">
    <select id="selectMembersByTeamId" resultType="com.guang.resms.module.team.entity.vo.TeamMemberVO">
        SELECT tm.user_id, u.real_name, u.phone, tm.join_time
        FROM tb_team_member tm
        LEFT JOIN tb_user u ON tm.user_id = u.id
        WHERE tm.team_id = #{teamId}
    </select>

    <select id="selectTeamIdByUserId" resultType="java.lang.Integer">
        SELECT team_id
        FROM tb_team_member
        WHERE user_id = #{userId}
        LIMIT 1
    </select>
</mapper>

