<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guang.resms.module.customer.mapper.ViewRecordMapper">
    <select id="selectPageVO" resultType="com.guang.resms.module.customer.entity.vo.ViewRecordVO">
        SELECT vr.*, c.real_name as customerName, c.phone as customerPhone,
               h.house_no as houseNo, h.description as houseDesc, h.layout, h.house_type as houseType,
               u.real_name as salesName
        FROM tb_view_record vr
        LEFT JOIN tb_customer c ON vr.customer_id = c.id
        LEFT JOIN tb_house h ON vr.house_id = h.id
        LEFT JOIN tb_user u ON vr.sales_id = u.id
        WHERE 1=1
        <if test="query.customerId != null"> AND vr.customer_id = #{query.customerId} </if>
        <if test="query.houseId != null"> AND vr.house_id = #{query.houseId} </if>
        <if test="query.salesId != null"> AND vr.sales_id = #{query.salesId} </if>
        <if test="query.startTime != null"> AND vr.view_time &gt;= #{query.startTime} </if>
        <if test="query.endTime != null"> AND vr.view_time &lt;= #{query.endTime} </if>
        <if test="query.status != null"> AND vr.status = #{query.status} </if>
        <if test="query.appointType != null"> AND vr.appoint_type = #{query.appointType} </if>
        ORDER BY vr.view_time DESC
    </select>
</mapper>
